* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "TechNo", sans-serif;
}

@font-face{
  font-family: TechNo;
  src: url(TechnoRaceItalic-eZRWe.otf);
}

body {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(TheDesert/GoldenPalace.png);
  background-color: #666;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  animation: animate1 500s linear infinite;
  animation-iteration-count: infinite;
}

@keyframes animate1{
  from {
    background-size: 100% ;
    background-position: 0% 0%;
  }
  to {
    background-size: 120%;
    background-position: 50% 10%;
  }

}

.wrapper {
  box-sizing: content-box;
  width: 40em;
  padding: 2.5em 3em;
  background-color: #af9a8f;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 0.6em;
  box-shadow: 0 0.9em 2.8em rgba(90, 66, 0, 0.2);

}

.game-container {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 0fr);
  grid-auto-rows: minmax(40px, auto);
  gap: 0.6em;
}

.stats-container {
  text-align: center;
  display: flex:;
  font-size: 20px;
  margin-bottom: 1.2em;
  margin-top: 5px;
}

#p1{
  text-align: center;
  display: flex:;
  font-size: 20px;
  margin-bottom: 1.2em;
  margin-top: 5px;
}

#time{
  margin-top: 0px;
}

.stats-container span {
  font-weight: 600;
}

.card-container {
  position: relative;
  width: 6.25em;
  height: 6.25em;
  cursor: pointer;
}

.card-before,
.card-after {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #000000;
  transition: transform 0.7s ease-out;
  backface-visibility: hidden;
  background-size: auto;
}

.card-before:hover{
  color: #666;
}

.card-before {
  background-color: #af7d57;
  font-size: 2.8em;
  font-weight: 600;
}

.card-after {
  background-color: #d4c1bb;
  transform: rotateY(180deg);
}

.card-container.flipped .card-before {
  transform: rotateY(180deg);
}

.card-container.flipped .card-after {
  transform: rotateY(0deg);
}

.controls-container {
  position: fixed;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(TheDesert/CanyonTavern.png);
  top: 0;
}

.difficulty {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: 540px;
  margin-left: 10px;
}

#difficulty2{
  margin-left: 20px;
}

button {
  border: none;
  border-radius: 0.3em;
  padding: 1em 1.5em;
  cursor: pointer;
}

button:hover{
  color: #58575a;
}

#stop {
  font-size: 1.1em;
  display: block;
  margin: 1.1em auto 0 auto;
  background-color: #000000;
  color: #ffffff;
}

#stop:hover{
  color: #58575a;
}

.controls-container button {
  font-size: 1.3em;
  box-shadow: 0 0.6em 2em rgba(86, 66, 0, 0.2);
  background-color: #a9826b;
}

.difficulty button{
  font-size: 1.3em;
  box-shadow: 0 0.6em 2em rgba(86, 66, 0, 0.2);
  background-color: #a9826b;
}

#CD{
  font-size: 1.3em;
  box-shadow: 0 0.6em 2em rgba(86, 66, 0, 0.2);
  background-color: #a9826b;
  border: none;
  border-radius: 0.3em;
  padding: 1em 1.5em;
  margin-right: 20px;
}

a:link {text-decoration: none; color: black}

a:visited {text-decoration: none; color: black}

a:hover {text-decoration: none; color: #58575a}

a:active {text-decoration: none; color: black}

.hide {
  display: none;
}

#result {
  text-align: center;
  position: absolute;
  margin-top: -215px;
}

#result h2 {
  font-size: 2.5em;
}

#result h4 {
  font-size: 1.8em;
  margin: 0.6em 0 1em 0;
}